:root {
    --primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    overflow: hidden;
}

.cart {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background-color: #272d40;
    border-radius: 15px;
    padding: 40px 20px;
    color: #fff;
    position: relative;
    z-index: 2;
}

.cart__heart, .cart__cart {
    position: absolute;
    font-size: 25px;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 3;
}

.cart__cart {
    left: unset;
    right: 15px;
}

.cart__img {
    width: 90%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Dùng để căn chỉnh ảnh phù hợp với thẻ cha */
    object-position: center; /* Giống thằng trên */
}

.cart__title {
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
}

.cart__price {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.cart__color, .cart__size {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.cart__color--btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.cart__color--btn.green {
    background-color: green;
}

.cart__color--btn.red {
    background-color: red;
}

.cart__color--btn.black {
    background-color: black;
}

.cart__size--number {
    background-color: #dadada;
    margin: 0 5px;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #272d40;
}

.cart__btn-buy {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin-right: 7px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.cart:hover .cart__img {
    transform: translateY(-90px) rotate(-20deg); /* Cho đi lên và Tạo hiệu ứng giày quay */
    transition: 0.5s; /* Thời gian để ảnh xoay */
}

.cart:hover .cart__title {
    transform: translate(-43px, -70px);
    transition: 0.5s;
}

.cart:hover .cart__price {
    transform: translate(-118px, -50px);
    transition: 0.5s;
}

.cart__color {
    margin-top: 150px;
}

.cart__size, .cart__btn-buy, .cart__color {
    opacity: 0;
}

.cart:hover .cart__size, .cart:hover .cart__btn-buy, .cart:hover .cart__color {
    transform: translateY(-170px);
    opacity: 1;
    transition: 0.5s;
}